@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #262321;
    color: #fdfbfb;
}

<<<<<<< Updated upstream
.dm-sans-heading {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
=======
>>>>>>> Stashed changes
